
@{
    ViewBag.Title = "Register";
}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a></li>
            <li class="active">注册页面</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
    <div class="container">
        <h2>在这里注册</h2>
        <div class="login-form-grids">
            <h6>注册</h6>
            <form action="#" method="post">
                <input type="text" placeholder="账号" required="" name="UserName">
                <input type="password" placeholder="密码" required="" name="UserPwd">
                <div style="margin-top:14px"></div>
                <input type="text" placeholder="手机号" required="" name="Phone">
                <div class="register-check-box">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" id="checkbox" ><i> </i>我接受这些条款和条件</label>
                    </div>
                </div>
                <input id="zc" type="submit" value="注册" disabled="disabled">
            </form>
        </div>
        <div class="register-home">
            <a href="index.html">首页</a>
        </div>
    </div>
</div>
<!-- //register -->
<script>
    $('#checkbox').change(function () {
        if ($('#checkbox').prop('checked', true)) {
            $('#zc').attr('disabled', false);
        }
        else {
            $('#zc').attr('disabled', true);
            alert("需要接受条件");
        }
    })  
</script>
