
@{
    ViewBag.Title = "Register";
}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a></li>
            <li class="active">注册页面</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
    <div class="container">
        <h2>在这里注册</h2>
        <div class="login-form-grids">
            <h6>注册</h6>
            <form action="#" method="post">
                <input type="email" placeholder="账号" required=" " name="UserName">
                <input type="password" placeholder="密码" required=" " name="UserPwd">
                <input type="text" placeholder="手机号" required=" " name="phone">
                <div class="register-check-box">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>我接受这些条款和条件</label>
                    </div>
                </div>
                <input type="submit" value="注册">
            </form>
        </div>
        <div class="register-home">
            <a href="index.html">首页</a>
        </div>
    </div>
</div>
<!-- //register -->
